@import "../../scss/functions";
@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  background-color: getColor(bg);
  box-shadow: 0;
  overflow-x: auto;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 320px;
  z-index: 10;
  transform: translateX(-100%);
  & > div {
    margin-top: 20px;
  }
  @include from-m {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: baseline;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    transform: translateX(0);
  }
}

.open {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.4);
  @include from-m {
    box-shadow: none;
    flex-direction: row;
    transition: none;
  }
}

.menu_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  @include from-m {
    display: none;
  }
}

.close_menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
  @include from-m {
    display: none;
  }
}

.burger {
  cursor: pointer;
  padding-bottom: 6px;
  & > span {
    width: 30px;
    height: 2px;
    background-color: getColor(link);
    margin-top: 6px;
    display: block;
  }
}

.search_icon {
  cursor: pointer;
  fill: getColor(font-primary);
}

.dark_toggle {
  cursor: pointer;
}

.header_main {
  align-items: baseline;
  @include from-m {
    display: flex;
  }
}

.header_mobile {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: flex-end;
  @include from-m {
    display: none;
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: column;
  @include from-m {
    flex-flow: row;
  }
  li {
    margin-right: 20px;
  }
}

.header_title {
  margin-right: 20px;
  @include from-m {
    margin-bottom: 0;
  }
  h1 {
    font-family: $font-lato;
    letter-spacing: 5px;
    font-size: 28px;
    text-transform: uppercase;
  }
}

.header_tools {
  display: flex;
  align-items: baseline;
  flex-flow: column;
  @include from-m {
    flex-flow: row;
  }
  div {
    margin-right: 20px;
    text-decoration: none;
    color: getColor(font-primary);
    font-family: $font-nunito;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
