@import "../../scss/mixins";
@import "../../scss/functions";
@import "../../scss/variables";

.wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.content {
  display: grid;
  overflow: hidden;
}

.article {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.control {
  cursor: pointer;
  z-index: 7;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: getColor(line);
  span {
    padding: 0.7rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    &:hover {
      opacity: 0.75;
      background-color: getColor(featured-bg);
    }
  }
}

.control_arrow {
  fill: getColor(font-primary);
}

.current {
  opacity: 1;
  margin-left: 0;
  z-index: 2;
}

.article_image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  @include from-m {
    width: 50%;
    height: initial;
  }
  @include from-l {
    width: 66%;
  }
}

.article_content {
  width: 100%;
  height: 60%;
  background-color: getColor(line);
  padding: 2rem;
  @include from-m {
    width: 50%;
    height: initial;
  }
  @include from-l {
    width: 34%;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}

.article_author {
  align-items: center;
  color: getColor(font-primary);
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  margin: 1rem 0 0;
  font-weight: 700;
}

.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: solid 1px getColor(accent);
  img {
    width: auto;
    height: 100%;
    margin-left: -8px;
  }
}

.article_ingress {
  color: getColor(font-secondary);
  margin-top: 1rem;
}
