*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: getColor(accent);
  font-family: $font-nunito;
}

a {
  text-decoration: none;
  color: getColor(font-primary);
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-lato;
  a:hover {
    text-decoration: none;
  }
}

body {
  background-color: getColor(bg);
}

/* For light mode */
:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

/* For dark mode */
body.dark {
  @each $name, $color in $colors-dark {
    --color-#{$name}: #{$color};
  }
}
